@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');

#my {
    zoom: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Poppins;
}

aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.1rem;
    background-color: #212529;
    backdrop-filter: blur(20px);
}

.Links {
    display: flex;
    flex-direction: column;
    margin: auto;
}

aside li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 10px;
    color: white;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

aside li:hover {
    color: #80ed99;
}

aside li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff24, transparent);
    content: '';
    bottom: 0px;
}

aside li i {
    font-size: 1.3rem;
}

.activeLink {
    color: #80ed99
}

.mySwiper {

    flex: 1;
    height: 100%;
}

.home-slide {
    color: white;
    display: flex;
    background-color: #343a40;
}

.HomeContent {
    margin: auto 0px;
    flex: 1;
    height: auto;

    padding: 100px;
    user-select: none;
}

.SideImg {
    width: 30%;


    margin: auto 10px;
    margin-right: 100px;
    position: relative;
}

.SideImg img {
    width: 100%;
    border-radius: 10px;
}

.SideImg .top-right-corner,
.bottom-left-corner {
    position: absolute;
}

.bottom-left-corner {
    left: -50px;
    bottom: -50px;
    rotate: -90deg;
}

.top-right-corner {
    right: -50px;
    top: -50px;
    rotate: 90deg;
}

.hr1 {
    width: 150px;
    height: 10px;
    border: none;
    background: #80ed99;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hr2 {
    width: 10px;
    height: 120px;
    border-bottom-left-radius: 3px;

    background: #80ed99;
    border: none;
    border-bottom-right-radius: 3px;
}

.HomeContent h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.HomeContent h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
    font-weight: 600;

}

.HomeContent h1 .stylized-name {
    font-weight: 700;
    color: #80ed99;
}

.proffesions {
    color: #85f69f;
}

.HomeContent .heroline {
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 50px;
}

.buttonGroup {
    display: flex;
    padding: 10px 0px;
    margin-top: 10px;
}

.buttonGroup button,
.primary {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    background-color: #1d8637;
    color: white;
    border-radius: 5px;
}

.slide-help {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    z-index: 100;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
}



.mySwiper {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    background-color: #343a40;
}

.swiper-slide {
    width: 100%;

    background-color: #343a40;
    height: 100%;
}

.about-us {
    width: 100%;
    height: 100%;

    padding: 100px;
    color: white;
}

.heading {
    padding: 20px 10px;
    font-size: 2.5rem;
    color: #80ed99;
}

.about-us h3 {
    padding: 10px;

}

.aboutme-deatils {
    padding: 20px;
    font-weight: 300;
}

.about-me-divison {
    display: flex;
}

.about-me-table {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.about-me-table li {
    padding: 20px;
    position: relative;
}

.about-me-table li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff77, transparent);
    content: '';
    bottom: 0px;
}

.about-me-table span {
    color: #80ed99;
    font-weight: bold;
    margin-right: 5px;
}

.about-me-table .buttonGroup {
    grid-column: 1/span 2;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.skill-bar {
    width: calc(40% - 20px);
}

.skill-bar li {
    width: 100%;
    padding: 10px;
}

.skill-bar p {
    color: #80ed99;
    font-weight: bold;
    margin: 10px;
}

.skill-bar .bar {
    width: 100%;
    height: 15px;
    background-color: #272c30;
    border-radius: 20px;

}

.active-bar {
    background-color: #80ed99;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.services {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(34% - 10px));
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px);
    padding: 100px;
    box-sizing: border-box;
}

.services .heading {
    grid-column: 1/span 3;
}

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.services .service i {
    font-size: 3rem;
    color: #80ed99
}

.services .service .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}

.service h2 {
    color: #80ed99
}

.service:hover {
    background-color: #80ed99;
    color: #176d2d
}

.service:hover h2,
.service:hover i {
    color: #176d2d
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 100px;
    grid-template-rows: 100px calc(50% - 50px) calc(50% - 50px);
}

.gallery h1,
.gallery h2 {
    grid-column: 1/span 3;
}

.gallery h2 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 20px 10px;
}

.gallery .project {
    margin: 25px 20px;
    margin-top: 0px;
    background: #212529;
    padding: 5px;
    border-radius: 20px;
}

.gallery .project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: none;
}

.contactMe {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80px calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) calc(25% - 20px);
    position: relative;
    padding: 100px;
}

.contactMe h1 {
    grid-column: 1/span 3;
    font-size: 2.5rem;
    padding: 30px;
}

.contactMe form {
    grid-area: 2/2/ span 5/span 2;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactinfo i {
    padding: 10px;
    font-size: 2.5rem;
    color: #80ed99;
    margin: 20px auto;
}

.contactinfo h3 {
    color: #80ed99;
}

.contactMe form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
    height: fit-content;
    color: white;
}

.contactMe form h2 {
    grid-column: 1/span 2;
    padding: 20px;
    display: flex;
}

.contactMe form input {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.1rem;
    border: none;
    color: white;
    background-color: #212529;

}

.contactMe form input:focus {
    border: 1px solid #85f69f;
    outline: none;

}

.contactMe form textarea {
    width: calc(100% - 40px);

    grid-column: 1/span 2;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    resize: none;
    border: none;
    border: none;
    color: white;
    background-color: #212529;
}

.contactMe form textarea:focus {
    border: 1px solid #85f69f !important;
}

.contactMe button {
    grid-column: 1/span 2;
    margin: 20px auto;

}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 200;
    font-size: 0.8rem;
}

footer li {
    padding: 10px;
}

form h2 .SocialLinks {
    padding: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: 10px;
    background-color: #212529;
    border-radius: 30px;
}

form h2 .SocialLinks i {
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.25s;
}

form h2 .SocialLinks i:hover {
    background-color: #176d2d;
}

.about-us {
    overflow: auto;
}




:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --trans-dur: 0.5s;
    --trans-timing1: cubic-bezier(0.65, 0, 0.35, 1);
    --trans-timing2: cubic-bezier(0.65, 0, 0.35, 1.5);

}


body,
input {
    color: var(--fg);
    font: 2em/1.5 sans-serif;
    transition: background-color var(--trans-dur) var(--trans-timing1), color var(--trans-dur) var(--trans-timing1);
}



.switch {
    display: flex;
    margin: auto;
}

.switch__emoji {
    box-shadow: 0.25em 0.25em 0.125em rgba(0, 0, 0, 0.3);
    overflow: hidden;
    pointer-events: none;
    top: 0.25em;
    left: 0.25em;
    width: 2em;
    height: 2em;
}

[dir=rtl] .switch__emoji {
    right: 1.25em;
    left: auto;
}

.switch__emoji,
.switch__emoji:before,
.switch__emoji:after,
.switch__emoji-eye,
.switch__emoji-mouth,
.switch__emoji-face {
    display: block;
    position: absolute;
}

.switch__emoji,
.switch__emoji:before,
.switch__emoji:after,
.switch__emoji-eye,
.switch__emoji-mouth {
    border-radius: 50%;
}

.switch__emoji:before,
.switch__emoji:after {
    content: "";
    width: 100%;
    height: 100%;
    transform: translateZ(0);
}

.switch__emoji:before {
    background-color: #f2c40d;
    box-shadow: -0.25em -0.25em 0.25em #c29d0a inset, 0.1875em 0.1875em 0.25em #f9e286 inset;
}

.switch__emoji:after {
    box-shadow: 0 0 0.125em 0.0625em rgba(245, 208, 61, 0.5) inset;
}

.switch__emoji,
.switch__emoji-face {
    transform-style: preserve-3d;
    transition: transform var(--trans-dur) var(--trans-timing2);
}

.switch__emoji-eye,
.switch__emoji-mouth {
    backface-visibility: hidden;
}

.switch__emoji-eye {
    border: 0.0625em solid hsl(var(--hue), 10%, 10%);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 0.25em;
    height: 0.25em;
    transform: translate(-50%, -50%) rotateY(-22.5deg) translateZ(0.5em) rotateZ(45deg);
}

.switch__emoji-eye+.switch__emoji-eye {
    transform: translate(-50%, -50%) rotateY(22.5deg) translateZ(0.5em) rotateZ(45deg);
}

.switch__emoji-mouth {
    background-image: radial-gradient(100% 100% at 50% 100%, #f2180d 20%, #f5463d 33%, rgba(245, 70, 61, 0) 35%), radial-gradient(100% 100% at 75% 113%, black 26%, rgba(0, 0, 0, 0) 35%), linear-gradient(rgba(0, 0, 0, 0) 50%, black 50% 55%, hsl(var(--hue), 10%, 10%) 65%);
    top: 50%;
    left: 50%;
    width: 0.5em;
    height: 0.5em;
    transform: translate(-50%, -50%) rotateX(-15deg) translateZ(0.5em);
}

.switch__emoji-face {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(0);
}

.switch__emoji-face+.switch__emoji-face {
    transform: rotateY(-180deg);
}

.switch__emoji-face--sad .switch__emoji-eye {
    background-color: hsl(var(--hue), 10%, 10%);
    border: 0;
    width: 0.2em;
    height: 0.2em;
}

.switch__emoji-face--sad .switch__emoji-mouth {
    background-image: none;
    border: 0.0625em solid transparent;
    border-top-color: hsl(var(--hue), 10%, 10%);
    transform: translate(-50%, 0) rotateX(-20deg) translateZ(0.5em);
}

.switch__input,
.switch__label {
    -webkit-tap-highlight-color: transparent;
}

.switch__input {
    background-color: hsl(var(--hue), 10%, 80%);
    border-radius: 0.75em;
    box-shadow: 0.0625em 0.0625em 0.0625em white inset, -0.0625em -0.0625em 0.0625em hsl(var(--hue), 10%, 80%) inset, 0 0 0 0.125em hsl(var(--hue), 10%, 90%) inset, 0.25em 0.25em 0.125em rgba(0, 0, 0, 0.3) inset, 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: block;
    width: 2.5em;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--trans-dur) var(--trans-timing1), box-shadow var(--trans-dur) var(--trans-timing1);
}

.switch__input:checked {
    background-color: #0ac213;
}

.switch__input:checked+.switch__emoji {
    transform: translateX(100%);
}

[dir=rtl] .switch__input:checked+.switch__emoji {
    transform: translateX(-100%);
}

.switch__input:checked+.switch__emoji .switch__emoji-face {
    transform: rotateY(179.99deg);
}

[dir=rtl] .switch__input:checked+.switch__emoji .switch__emoji-face {
    transform: rotateY(-179.99deg);
}

.switch__input:checked+.switch__emoji .switch__emoji-face+.switch__emoji-face {
    transform: rotateY(0);
}

[dir=rtl] .switch__input:checked+.switch__emoji .switch__emoji-face+.switch__emoji-face {
    transform: rotateY(-360deg);
}

.switch__label,
.switch__wrapper {
    display: block;
}

.switch__label {
    margin-inline-start: 0.5em;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

.switch__wrapper {
    position: relative;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
    }

    .switch__input {
        background-color: hsl(var(--hue), 10%, 20%);
        box-shadow: 0.0625em 0.0625em 0.0625em hsl(var(--hue), 10%, 25%) inset, -0.0625em -0.0625em 0.0625em hsl(var(--hue), 10%, 20%) inset, 0 0 0 0.125em hsl(var(--hue), 10%, 30%) inset, 0.25em 0.25em 0.125em rgba(0, 0, 0, 0.3) inset, 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.3);
    }
}