body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/logo-github.png');
    background-color: #000000;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #bbb;
}

a {
    text-decoration: none;
    background-color: #838383;
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: #680000;
}

a:hover {
    color: #f4f4f4;
    background-color: #333;
    padding: 10px;
    /*center a */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

img.logo {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;


}

h2 {
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #9e9c9c;
}
r {
    color: blue;
    font: "Arial";
    font-size: 12px;
    padding: 10px;
    font-size-adjust: 10px;
}
r.yuri {
    color: red;
    font: "Comic Sans MS";
    font-size: 14px;
    padding: 10px;
    font-size-adjust: 10px;
}